{% extends "base.html" %}

{% block title %}ML Models{% endblock %}

{% block content %}

<div class="page">

    <h1>Machine Learning Models</h1>

    <table>
        <tr>
            <th>Model</th>
            <th>R² Score</th>
            <th>MAE</th>
            <th>MSE</th>
            <th>RMSE</th>
        </tr>
        <tr>
            <td>Linear Regression</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Ridge Regression</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Lasso Regression</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Elastic Net</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
    </table>

</div>

{% endblock %}
